(
    duration: 1000,
    positioning: (
        anchor: Bottom,
        margin: Some(50),
    ),
    osd: (
        power_profile: (
            power_saver: "\u{f236}  Power-Saver",
            balanced: "\u{f24e}  Balanced",
            performance: "\u{f06d} Performance",
        ),
        battery: (
            present_charged: "\u{f0079}",
            present_empty: "\u{f007a}",
            present_charging: (
                ("\u{f089c}  Charging",
                 "\u{f0086}  Charging",
                 "\u{f0087}  Charging",
                 "\u{f0088}  Charging",
                 "\u{f089d}  Charging",
                 "\u{f0089}  Charging",
                 "\u{f089e}  Charging",
                 "\u{f008a}  Charging",
                 "\u{f008b}  Charging",
                 "\u{f0085}  Charging",
                 ), "\u{f0091} Charging"),
            present_discharging: (
               ("\u{f007a} Discharging",
                "\u{f007b} Discharging",
                "\u{f007c} Discharging",
                "\u{f007d} Discharging",
                "\u{f007e} Discharging",
                "\u{f007f} Discharging",
                "\u{f0080} Discharging",
                "\u{f0081} Discharging",
                "\u{f0082} Discharging",
                "\u{f0079} Discharging",
                ), "\u{f0091} Discharging"),
            present_pending_charge: (
               ("\u{f007a} Pending Charge",
                "\u{f007b} Pending Charge",
                "\u{f007c} Pending Charge",
                "\u{f007d} Pending Charge",
                "\u{f007e} Pending Charge",
                "\u{f007f} Pending Charge",
                "\u{f0080} Pending Charge",
                "\u{f0081} Pending Charge",
                "\u{f0082} Pending Charge",
                "\u{f0079} Pending Charge",
                ), "\u{f0091} Pending Charge"),
            present_pending_discharge: (
               ("\u{f007a} Pending Discharge",
                "\u{f007b} Pending Discharge",
                "\u{f007c} Pending Discharge",
                "\u{f007d} Pending Discharge",
                "\u{f007e} Pending Discharge",
                "\u{f007f} Pending Discharge",
                "\u{f0080} Pending Discharge",
                "\u{f0081} Pending Discharge",
                "\u{f0082} Pending Discharge",
                "\u{f0079} Pending Discharge",
                ), "\u{f0091} Pending Discharge"),
            unknown: "\u{f0091} Unclear State",
            removed: "\u{f17e8} Battery Removed",
        ),
    ),
)
