(
  duration: 1000,
  positioning: (
    anchor: Bottom,
    margin: Some(50),
  ),
  osdtext: (
    power_profile_text: (
      power_saver: "\u{f236}  Power-Saver",
      balanced: "\u{f24e}  Balanced",
      performance: "\u{f06d} Performance",
    )
  )
)
