(
    duration: 500,
    positioning: (
        anchor: Bottom,
        margin: Some(50),
    ),
    osdtext: (
        power_profile_text: (
            power_saver: "\\u{f236}  Power-Saver",
            balanced: "\\u{f24e}  Balanced",
            performance: "\\u{f06d} Performance",
        ),
        battery_text: (
            present_charged_text: "\\u{f0079}",
            present_empty_text: "\\u{f007a}",
            present_charging_state_text: (
                ("\\u{f089c}  Charging",
                 "\\u{f0086}  Charging",
                 "\\u{f0087}  Charging",
                 "\\u{f0088}  Charging",
                 "\\u{f089d}  Charging",
                 "\\u{f0089}  Charging",
                 "\\u{f089e}  Charging",
                 "\\u{f008a}  Charging",
                 "\\u{f008b}  Charging",
                 "\\u{f0085}  Charging",
                 ), "\\u{f0091} Charging"),
            present_discharging_state_text: (
               ("\\u{f007a} Discharging",
                "\\u{f007b} Discharging",
                "\\u{f007c} Discharging",
                "\\u{f007d} Discharging",
                "\\u{f007e} Discharging",
                "\\u{f007f} Discharging",
                "\\u{f0080} Discharging",
                "\\u{f0081} Discharging",
                "\\u{f0082} Discharging",
                "\\u{f0079} Discharging",
                ), "\\u{f0091} Discharging"),
        present_other_state_text: (
                unknown: "Unknown",
                pending_charge: "Pending Charge",
                pending_discharge: "Pending Discharge",
            ),
            removed_state: "\\u{f17e8}",
        ),
    ),
)
