/* GlimpseOSD Style Example
 * This is an example of how to style GlimpseOSD using CSS.
 * The colors are based on the Catppuccin Mocha color scheme.
 * You can customize the colors and styles to your liking.
 * The font used is CaskaydiaCove Nerd Font.
 * To use this style, save it as style.css and place it somewhere you can access.
 * You can then run GlimpseOSD with the --style option to use this style.
 * Example: ./glimpseosd --style /path/to/style.css
 * Or on Windows: glimpseosd.exe --style C:\path\to\style.css
 * Just kidding this OSD is just for linux. I hate win & alternatives.
 * You should also need to hate them.
*/
:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

glimpsosd.background {
    background-color: var(--crust);
    border-radius: 20px;
}

glimpsosd label.power_profile,
glimpsosd progressbar.volume text,
glimpsosd progressbar.battery text {
    font-family: 'CaskaydiaCove Nerd Font';
    font-size: 16px;
    font-weight: bold;
}

glimpsosd label.power_profile {
    margin: 20px;
}

glimpsosd progressbar {
    color: var(--text);
    margin: 20px;
}

glimpsosd progressbar text {
    margin: 0 0 20px;
    color: var(--text);
}

glimpsosd progressbar trough {
    background-color: var(--base);
    border: none;
}

glimpsosd progressbar trough progress {
    background-color: var(--text);
}

glimpsosd progressbar trough,
glimpsosd progressbar trough progress {
    border-radius: 10px;
    padding: 5px 0;
}


glimpsosd progressbar.volume.mute text,
glimpsosd progressbar.volume.min.mute text,
glimpsosd progressbar.volume.med.mute text,
glimpsosd progressbar.volume.max.mute text,
glimpsosd .one text,
glimpsosd .two text,
glimpsosd .three text {
    color: var(--red);
}

glimpsosd label.power_profile.power_profile-saver,
glimpsosd progressbar.volume.min text,
glimpsosd .four text,
glimpsosd .five text {
    color: var(--yellow);
}

glimpsosd label.power_profile.balanced,
glimpsosd progressbar.volume.med text,
glimpsosd .six text,
glimpsosd .seven text {
    color: var(--peach);
}

glimpsosd label.power_profile.performance,
glimpsosd progressbar.volume.max text,
glimpsosd .eight text,
glimpsosd .nine text,
glimpsosd .fully-charged text,
glimpsosd .ten text {
    color: var(--green);
}

glimpsosd progressbar.volume.mute trough progress,
glimpsosd progressbar.volume.min.mute trough progress,
glimpsosd progressbar.volume.med.mute trough progress,
glimpsosd progressbar.volume.max.mute trough progress,
glimpsosd .one trough progress,
glimpsosd .two trough progress,
glimpsosd .three trough progress {
    background-color: var(--red);
}

glimpsosd progressbar.volume.min trough progress,
glimpsosd .four trough progress,
glimpsosd .five trough progress {
    background-color: var(--yellow);
}

glimpsosd progressbar.volume.med trough progress,
glimpsosd .six trough progress,
glimpsosd .seven trough progress {
    background-color: var(--peach);
}

glimpsosd progressbar.volume.max trough progress,
glimpsosd .eight trough progress,
glimpsosd .nine trough progress,
glimpsosd .ten trough progress,
glimpsosd .fully-charged trough progress {
    background-color: var(--green);
}
